/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
//
$font-prefix: '../../node_modules/@ibm/plex';
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';


html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// iA writer colors
$white: #f1f1f1;
$black: #212121;
$light-black: #424242;
$lighter-gray: #C6C6C6;
$light-cyan: #4FB8CC;
$dark-cyan: #20A5BA;
$blue: #20BBFC;
$dark-red: #C30771;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'IBM Plex Sans Condensed';
$headingFont: 'IBM Plex Mono';
$headingFontWeight: normal;
$mainColor: $light-black;
$mainFontSize: 30px;
$headingColor: $light-black;
$headingTextShadow: none;
// $heading2Size: 1.55em;
// $heading1Size: 2.11em;
$backgroundColor: $white;
$linkColor: $dark-cyan;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $dark-red;

.reveal .alert {
  display: block;
  text-align: left;
  font-style: normal;
  border-left-style: solid;
  border-left-color: $light-cyan;
  padding-left: 5px;
  border-left-width: 5px;
}

.reveal .boxed {
  border: 1px solid $dark-red;
  padding: 5px;

}

.reveal .hl1 {
  color: $dark-red;
}

.reveal .hl2 {
  color: $dark-cyan;
}

.reveal h1 {
  text-align: center;
}

// .reveal .title-slide {
//   background: $light-black;
// }

.reveal .alert[name]:before {
  content: attr(name);
  font-weight: bold;
  color: $dark-cyan;
  font-style: normal;
}

@include dark-bg-text-color($lighter-gray);

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
